<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PMS_WPF_NET8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PMS_WPF_NET8.Properties.Settings>
            <setting name="dbServerAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="dbUserID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>database_pharmacy</value>
            </setting>
            <setting name="ClinicName" serializeAs="String">
                <value />
            </setting>
            <setting name="EnablePrintAfterSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoClear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LabelHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LabelWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="DevMode" serializeAs="String">
                <value>False</value>
            </setting>
        </PMS_WPF_NET8.Properties.Settings>
    </userSettings>
</configuration>